.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    width: 100%;
}

.header__menu {
    justify-self: start;

}

.header__links-list{
    display: flex;
    gap: 36px;
    list-style: circle;
}

.header__links-list-item {
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    padding-right: 36px;
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.header__address {
    justify-self: end;
}

.cover {
    display: flex;
    flex-direction: column;
    background-image: url("/images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 757px;
    margin-bottom: 180px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.overlay {
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    color: white;
    padding-top: 165px;
    line-height: 115px;
    letter-spacing: 30px;
}

.letter-spacing-extended {

}

.aligned-text {
    display: block;
    line-height: 114px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 107px;
    padding-bottom: 50px    ;
}

.cover__description-text {
    color: white;
    word-spacing: 18px;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;

}

.button {
    background: transparent;
    border: 1px white solid;
    height: 51px;
}

.bet-button {
    width: 256px;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}



.lots {
    width: 1052px;
    min-height: 723px;
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    display: block;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    gap: 25px;

}

.lots__card-list-item {
    width: 334px;
}

.card-link,
.card {
    min-height: 100%
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    height: 596px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.card-overlay {
    position: absolute;
    z-index: 1;
    min-height: 596px;
    width: 334px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card__title {
    line-height: 120%;
    padding-top: 48px;
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
    z-index: 2;
    margin: 0 0 20px;
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline solid;
}

.card__text {
    line-height: 120%;
    position: relative;
    z-index: 2;
    padding-bottom: 48px;
    padding-right: 40px;
    padding-left: 40px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.card_type_film {
    background-image: url("/images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url("/images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture {

    background-image: url("/images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lots__look-more-link {
    text-transform: lowercase;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 40px;
}


.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1052px;
    height: 595px;
    margin-top: 120px;
    gap: 72px;
}

.about__column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about__logo {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-image {
    display: block;
    width: 136px;
    height: 102px;
}


.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}




